video {
	transform: scale(2);
}

@media screen and (max-width: 768px) {

	/* CSS styles for devices with a maximum width of 768 pixels */
	video {
		transform: scale(4.0);
	}
}

@media (max-width: 500px) {
	.nav-link {
		font-size: 0.5rem;
	}

	.max-w-md {
		max-width: 22rem;
	}

	#screen-container {
		overflow-y: scroll;
	}


	#form-container {
		max-width: 80%;
		margin-bottom: 16rem;
		margin-top: 4rem;
	}
	
	#phrase-container {
		font-size: 2rem;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
	}

	#phrase-container {
		font-size: 2rem;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
	}


	#scope-img {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		/* center the image and scale it to 50% */
	}

	#city-form {
		position: absolute;
		top: 6rem;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}