/* color palette 

greens:
#6EE7B7 #34D399

greys:
#6B7280 #4B5563

white: 
whitesmoke

*/


video {
	transform: scale(2);
}

@media screen and (max-width: 768px) {
	/* CSS styles for devices with a maximum width of 768 pixels */
	video {
		transform: scale(3.0);
	}
}