
video {
	transform: scale(2);
}

@media screen and (max-width: 768px) {
	/* CSS styles for devices with a maximum width of 768 pixels */
	video {
		transform: scale(4.0);
	}
}

@media (max-width: 500px) {
	.nav-link {
		font-size: 0.5rem;
	}

	.max-w-md {
		max-width: 22rem;
	}


	#form-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	
	#phrase-container {
		position: relative;
		z-index: 2;
		font-size: 2.5rem;
		margin-top: 8rem;
	}

	
	#scope-img {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		/* center the image and scale it to 50% */
	}
	
	#city-form {
		position: absolute;
		top: 6rem;
		/* the same margin-top as #phrase-container */
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 90%;
		/* adjust the width as needed */
	}
}