<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>CrimeScope</title>
  </head>
  <body>
    <nav class="bg-gray-900 text-white py-6">
      <div class="container mx-auto px-4">
        <ul class="flex justify-between">
          <li>
            <a href="/" class="text-xl font-bold">CrimeScope</a>
          </li>
          <li>
            <ul class="flex space-x-4">
              {% if not g.user %}
              <li>
                <a
                  href="/signup"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                  >Sign up</a
                >
              </li>
              <li>
                <a
                  href="/login"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                  >Log in</a
                >
              </li>
              {% else %}
              <li>
                <a
                  href="/user_profile/{{g.user.id}}"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                  >Your profile</a
                >
              </li>
              <li>
                <a
                  href="/logout"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                  >Log out</a
                >
              </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <!--  -->
    <!--  -->
    <!--  -->

    {% block content %} {% endblock %}
    <script src="/static/app.js"></script>
  </body>
</html>
