{% extends 'base.html' %} {% block content %}

<div class="relative flex z-20">
  <div class="w-1/2 p-4 mt-20 ml-24">
    <div class="rounded overflow-hidden border-2 border-green-200 mb-10 shadow-lg">
    <table class="w-full">
      <thead class="bg-gray-100 border-b-2 border-green-200">
        <tr>
          <th class="px-4 py-2 w-1/3">Crime</th>
          <th class="px-4 py-2 w-1/3">{{ city }}</th>
          <th class="px-4 py-2 w-1/3">National</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        {% for crime in v_crime %}
        <tr>
          <td class="px-4 py-2">{{ crime.crime }}</td>
          <td class="px-4 py-2">Rate: {{ crime.city }}</td>
          <td class="px-4 py-2">Rate: {{ crime.national }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
        <div class="rounded overflow-hidden border-2 border-green-200 mb-10 shadow-lg">
    <table class="w-full">
      <thead class="bg-gray-100 border-b-2 border-green-200">
        <tr>
          <th class="px-4 py-2 w-1/3">Crime</th>
          <th class="px-4 py-2 w-1/3">{{ city }}</th>
          <th class="px-4 py-2 w-1/3">National</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        {% for crime in p_crime %}
        <tr>
          <td class="px-4 py-2">{{ crime.crime }}</td>
          <td class="px-4 py-2">Rate: {{ crime.city }}</td>
          <td class="px-4 py-2">Rate: {{ crime.national }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
<!--  -->
<!--  -->
<!--  -->
<form id="create_post_for_city" action="/create/userpost" method="POST" class="max-w-lg mx-auto">
  <input type="hidden" id="place-type" value="{{ place_type }}" />
  <input type="hidden" id="place-url" value="{{ place_url }}" />
  <input type="hidden" id="city-name" value="{{ city }}" />
  <input type="hidden" id="user_id" value="{{g.user.id}}" />

  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="post-title">Title</label>
    <input type="text" id="post-title" name="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="post-content">Safety Tips and Stories</label>
    <textarea id="post-content" name="content" rows="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
  </div>

  <div class="flex justify-center">
    <button id="create_city_post_button" type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
  </div>
</form>

<!--  -->
<!--  -->
<!--  -->
<div id="user-post-container" class="grid grid-cols-1 gap-4">
    {% for post in posts %}
    <div class="p-4 border rounded shadow-md  bg-white">
      <h3 class="text-gray-600 mb-2 float-right">Created by: {{post.user.username}}</h3>
      <h3 class="text-lg font-medium mb-2">{{post.title}}</h3>
      <p class="text-gray-600 mb-4">{{post.content}}</p>
      <p class="float-right -mt-10">{{post.place.city}} {{post.place.state}}</p>
      <div class="flex items-center mb-2 float-right bg-gray-100 p-1 rounded">
        <p id="number-votes-{{post.id}}" class="text-gray-600 mb-1 ml-2">{{post.num_votes}}</p>
        <form method="POST" class="vote-form ml-2" >
        <input type="hidden" id="vote-id" name="vote-id" value="{{post.id}}" />
        <button type="submit" id="vote-form-button"  class="bg-{{ g.user and post in g.user.votes and 'green-300' or 'gray-300' }} rounded">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 16 16"
            height="1.5em"
            width="1.5em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z"
              clip-rule="evenodd"
            ></path>
            <path
              fill-rule="evenodd"
              d="M4.646 7.854a.5.5 0 00.708 0L8 5.207l2.646 2.647a.5.5 0 00.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z"
              clip-rule="evenodd"
            ></path>
            <path
              fill-rule="evenodd"
              d="M8 12a.5.5 0 00.5-.5v-6a.5.5 0 00-1 0v6a.5.5 0 00.5.5z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </form>
      </div>
    </div>
    
    {% endfor %}
  </form>
</div>
<!--  -->
<!--  -->
<!--  -->
  </div>
  <div class="fixed w-1/3 p-4 m-20 h-screen right-0">
    <div class="bg-white bg-opacity-90 border-2 border-green-200 rounded-lg shadow-lg h-5/6">
      <h2 class="px-4 py-2 text-2xl font-bold">AI's summary</h2>
      <button id="generate-ai-resp" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
  Generate new response
</button>

      <div id="ai-response" class="px-4 py-2"></div>
    </div>
  </div>
</div>

{% endblock %}
