{% extends 'base.html' %} {% block content %}
<div class="flex flex-wrap justify-center">
  <div class="w-full lg:w-2/3 p-4 mt-16">
    <div
      class="rounded overflow-hidden border-2 border-emerald-200 mb-4 shadow-lg"
    >
      <table class="w-full">
        <thead class="bg-gray-100 border-b-2 border-emerald-200">
          <tr>
            <th class="px-4 py-2 w-1/3">Violent Crime</th>
            <th class="px-4 py-2 w-1/3">{{ city }}</th>
            <th class="px-4 py-2 w-1/3">National</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {% for crime in v_crime %}
          <tr>
            <td class="px-4 py-2 text-center font-bold">{{ crime.crime }}</td>
            <td class="px-4 py-2 text-center font-bold">
              Rate: {{ crime.city }}
            </td>
            <td class="px-4 py-2 text-center font-bold">
              Rate: {{ crime.national }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="rounded overflow-hidden border-2 border-emerald-200 mb-4 shadow-lg"
    >
      <table class="w-full">
        <thead class="bg-gray-100 border-b-2 border-emerald-200">
          <tr>
            <th class="px-4 py-2 w-1/3">Property Crime</th>
            <th class="px-4 py-2 w-1/3">{{ city }}</th>
            <th class="px-4 py-2 w-1/3">National</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {% for crime in p_crime %}
          <tr>
            <td class="px-4 py-2 text-center font-bold">{{ crime.crime }}</td>
            <td class="px-4 py-2 text-center font-bold">
              Rate: {{ crime.city }}
            </td>
            <td class="px-4 py-2 text-center font-bold">
              Rate: {{ crime.national }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div
      class="bg-opacity-90 border-2 border-emerald-200 rounded shadow-lg flex flex-col items-center justify-center"
      style="height: 27.25rem"
    >
      <div
        class="relative flex items-center justify-evenly w-full z-10 p-2 bg-gray-100 border-b-2 border-emerald-200"
      >
        <img src="/static/images/robot.jpg" alt="ai-robot" class="w-16 h-16" />
        <h2 class="text-2xl font-bold">CrimeScope BOT</h2>
        <button
          id="generate-ai-resp"
          class="bg-emerald-500 hover:bg-emerald-600 text-white font-bold py-2 px-4 rounded m-2 mb-4"
        >
          Generate new response
        </button>
      </div>
      <div id="ai-response" class="flex-1 w-full h-full"></div>
    </div>
  </div>

  <div
    class="flex flex-col -mt-4 lg:mt-10 w-1/3 lg:w-1/3 w-full"
    style="height: 94vh"
  >
    <h1 class="text-2xl font-bold mt-10 text-center">Share your advice.</h1>
    <form
      id="create_post_for_city"
      action="/create/userpost"
      method="POST"
      class="lg:w-full w-11/12 h-30 mx-auto p-10 mt-2 mb-5 rounded shadow-lg backdrop-filter backdrop-opacity-90 bg-black bg-opacity-80"
    >
      <input type="hidden" id="place-type" value="{{ place_type }}" />
      <input type="hidden" id="place-url" value="{{ place_url }}" />
      <input type="hidden" id="city-name" value="{{ city }}" />
      <input type="hidden" id="user_id" value="{{g.user.id}}" />

      <div class="-mt-6 mb-4">
        <label class="block text-emerald-200 font-bold mb-2" for="post-title"
          >Title</label
        >
        <input
          type="text"
          id="post-title"
          name="title"
          class="rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>

      <div class="mb-4">
        <label class="block text-emerald-200 font-bold mb-2" for="post-content"
          >Safety Tips and Stories</label
        >
        <textarea
          id="post-content"
          name="content"
          rows="3"
          class="rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none"
          required
        ></textarea>
      </div>

      <div class="flex justify-center">
        <button
          id="create_city_post_button"
          type="submit"
          class="bg-emerald-500 hover:bg-emerald-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        >
          Post a tip
        </button>
      </div>
    </form>
    <div
      id="user-post-container"
      class="flex flex-col gap-8 h-2/3 overflow-auto -mt-4 p-4 shadow-inner rounded"
    >
      {% if posts %} {% for post in posts %}
      <div class="border-2 border-gray-500 rounded shadow-lg bg-gray-50">
        <div class="p-4">
          <div class="flex justify-between">
            <h3 class="text-lg font-medium mb-4">{{post.title}}</h3>
            <span class="text-gray-600"
              >Created by: {{post.user.username}}</span
            >
          </div>
          <p class="text-gray-600 bg-white mb-4 p-4 shadow-inner rounded">
            {{post.content}}
          </p>
          <div class="flex bg-gray-100 p-1 rounded">
            <span class="w-11/12 mt-2 ml-2">
              {{post.place.city}} {{post.place.state}}
            </span>
            <p id="number-votes-{{post.id}}" class="text-gray-600 mt-2 w-4">
              {{post.num_votes}}
            </p>
            <form method="POST" class="vote-form mt-2 ml-2 mr-2 w-4">
              <input
                type="hidden"
                id="vote-id"
                name="vote-id"
                value="{{post.id}}"
              />
              <button
                type="submit"
                id="vote-form-button-{{post.id}}"
                class="bg-{{ g.user and post in g.user.votes and 'emerald-300' or 'gray-300' }} rounded"
              >
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width=".5"
                  viewBox="0 0 16 16"
                  height="1.5em"
                  width="1.5em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z"
                    clip-rule="evenodd"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M4.646 7.854a.5.5 0 00.708 0L8 5.207l2.646 2.647a.5.5 0 00.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z"
                    clip-rule="evenodd"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M8 12a.5.5 0 00.5-.5v-6a.5.5 0 00-1 0v6a.5.5 0 00.5.5z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <h1 id="no-post-content" class="text-xl font-bold text-center">
        No posts yet, share your advice about {{city}}.
      </h1>
      <img
        id="no-post-content"
        src="/static/images/scope.jpg"
        alt="crimescope"
        class="mx-auto my-auto h-64 w-64 opacity-10"
      />

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
