{% extends 'base.html' %} {% block content %}

<form method="POST" id="create_account_form" class="w-full max-w-md mx-auto">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <div class="mb-4">
    <label
      class="block text-gray-700 font-bold mb-2"
      for="{{ field.id_for_label }}"
    >
      {{ field.label }}
    </label>
    <div class="relative">
      {{ field(class="w-full p-2 border rounded-md mb-2 focus:outline-none
      focus:ring-2 focus:ring-blue-400") }} {% for error in field.errors %}
      <div class="absolute right-0 top-0 mt-2 mr-2">
        <svg
          class="fill-current h-4 w-4 text-red-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 0C4.476 0 0 4.476 0 10c0 5.523 4.476 10 10 10s10-4.477 10-10c0-5.524-4.476-10-10-10zm5.657 15.657l-1.414 1.414L10 11.414l-4.243 4.243-1.414-1.414L8.586 10 4.343 5.757l1.414-1.414L10 8.586l4.243-4.243 1.414 1.414L11.414 10l4.243 4.243z"
          />
        </svg>
        <span class="text-red-500 text-xs">{{ error }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <button
    class="w-full bg-blue-500 hover:bg-blue-600 text-white py-3 rounded-md transition duration-300 ease-in-out"
  >
    Create Account
  </button>
</form>

{% endblock %}
