{% extends 'base.html' %} {% block content %}
<video
  id="globe-video"
  class="fixed inset-0 w-full h-full z-0 opacity-30"
  autoplay
  muted
  loop
>
  <source
    src="static/images/vecteezy-earth-1022-an-earth-globe-rotates-on-a-white-cyc-loop-1623478_aQvrT7qn.mp4"
    type="video/mp4"
  />
</video>

<div
  id="screen-container-login-signup"
  class="fixed h-screen w-screen inset-0 flex flex-wrap lg:flex-no-wrap justify-center items-center bg-gradient-to-tr from-black"
>
  <div
    class="w-full lg:w-1/2 justify-center items-center text-gray-50 font-bold text-5xl max-w-md h-60 mx-auto mt-20"
  >
    <p id="phrase-container-login-signup"></p>
  </div>
  <div
    id="form-container-login-signup"
    class="w-full lg:w-1/2 justify-center items-center mt-20"
  >
    <form
      method="POST"
      action="{{ url_for('signup') }}"
      id="create_account_form"
      class="max-w-md mx-auto bg-black bg-opacity-70 p-4 rounded"
    >
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %}
      <div class="mb-4">
        <label
          class="block text-emerald-300 font-bold mb-2"
          for="{{ field.id_for_label }}"
        >
          {{ field.label }}
        </label>
        <div class="relative">
          {{ field(class="w-full p-2 border rounded-md mb-2 focus:outline-none
          focus:ring-2 focus:ring-emerald-200") }} {% for error in field.errors
          %}
          <div class="absolute right-0 top-0 mt-2 mr-2">
            <svg
              class="fill-current h-4 w-4 text-red-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 0C4.476 0 0 4.476 0 10c0 5.523 4.476 10 10 10s10-4.477 10-10c0-5.524-4.476-10-10-10zm5.657 15.657l-1.414 1.414L10 11.414l-4.243 4.243-1.414-1.414L8.586 10 4.343 5.757l1.414-1.414L10 8.586l4.243-4.243 1.414 1.414L11.414 10l4.243 4.243z"
              />
            </svg>
            <span class="text-red-500 text-xs">{{ error }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <button
        class="w-full bg-emerald-400 hover:bg-emerald-500 text-white py-3 rounded-md transition duration-300 ease-in-out"
      >
        Create account
      </button>
    </form>
  </div>
</div>
{% endblock %}
